<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link type="text/css" rel="stylesheet" href="../css/landing-page-style.css"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Screen Share</title>
</head>
<body id = "login-page">
    <div id = "login-box">
        <form id = "login-forms">
            <span class = "login-element" style="font-family:Arial; color: white;">Username</span>
            <input class = "login-element input" type="text" autocomplete="off" id="username-input">
            <span class = "login-element" style="font-family:Arial; color: white;">Password</span>
            <input class = "login-element input" type="text" autocomplete="off" id="password-input">
            <div id="login-buttons">
                <button title="Sign up" class = "login-element" type="submit" id="sign-up-button"><i class="material-icons">person_add</i></button>
                <button title="Login" class = "login-element" type="submit" id="login-button"><i class="material-icons">login</i></button>
            </div>
        </form>
    </div>
    <script src="landing-page-bundle.js"></script>
</body>
</html>
